@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url(./JetBrainsMono-Regular.woff2);
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  src: url(./JetBrainsMono-Italic.woff2);
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url(./JetBrainsMono-Bold.woff2);
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 700;
  src: url(./JetBrainsMono-BoldItalic.woff2);
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  src: url(./JetBrainsMono-ExtraBold.woff2);
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 800;
  src: url(./JetBrainsMono-ExtraBoldItalic.woff2);
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 200;
  src: url(./JetBrainsMono-ExtraLight.woff2);
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 200;
  src: url(./JetBrainsMono-ExtraLightItalic.woff2);
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 300;
  src: url(./JetBrainsMono-Light.woff2);
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 300;
  src: url(./JetBrainsMono-LightItalic.woff2);
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  src: url(./JetBrainsMono-Medium.woff2);
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 500;
  src: url(./JetBrainsMono-MediumItalic.woff2);
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  src: url(./JetBrainsMono-SemiBold.woff2);
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 600;
  src: url(./JetBrainsMono-SemiBoldItalic.woff2);
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100;
  src: url(./JetBrainsMono-Thin.woff2);
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 100;
  src: url(./JetBrainsMono-ThinItalic.woff2);
}
