@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: rgb(256, 256, 256);
  --text: rgb(38, 38, 38);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
    --background: rgb(38, 38, 38);
    --text: rgb(229, 229, 229);
  }
}

* {
  box-sizing: border-box;
  font-family: "pretendard", "Pretendard-Regular";
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background);
  font-color: var(--text);
}

.dark {
  background-color: rgb(38, 38, 38);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.header-1 {
  padding-left: 5px;
}

.header-2 {
  padding-left: 10px;
}

.header-3 {
  padding-left: 15px;
}

.header-4 {
  padding-left: 20px;
}

.header-5 {
  padding-left: 25px;
}

.header-6 {
  padding-left: 30px;
}

#toc > div {
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}

#tags::-webkit-scrollbar {
  display: none;
}

.utterances {
  margin: 0;
  max-width: 100%;
}

aside {
  background-color: rgb(229 229 229);
  padding: 5px 15px;
  border-radius: 5px;
  margin: 15px 0;
}

.yellow {
  padding: 0 4px;
  border-radius: 3px;
  background-color: #f1c40f;
}

.red {
  padding: 0 4px;
  border-radius: 3px;
  background-color: #e74c3c;
}
