@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

:root {
    --background: rgb(255, 255, 255);
    --text: rgb(38, 38, 38);
    --color-main-blue: #1d4ed8;
    --color-react: #61dbfb;
    --color-javascript: #fac905;
    --color-typescript: #3178c6;
    --color-githubpage: #000000;
    --color-jest: #99425b;
    --color-redux: #764abc;
    --color-gatsby: #663399;
    --color-css: #1572b6;
    --color-scss: #bf4080;
    --color-styledcomponents: #ffa4e8;
    --color-emotion: #d26ac2;
    --color-html: #e44f26;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    :root {
        --background: rgb(38, 38, 38);
        --text: rgb(229, 229, 229);
    }
}


@layer base {
    * {
        box-sizing: border-box;
        scrollbar-color: rgb(30, 58, 138) transparent;
        transition: background-color, color 0.2s;
    }

    ::-webkit-scrollbar {
        width: 15px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
    }


    html, body {
        font-family: 'Inter';
        overflow: auto;
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(rgb(229, 229, 229), rgb(229, 229, 229));
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        /*overscroll-behavior: contain;*/
    }

    html.dark, body.dark {
        background-image: linear-gradient(rgb(38, 38, 38), rgb(38, 38, 38));
    }

    main { /*page container*/
        @apply w-full flex flex-col grow shrink;
    }

    a {
        word-break: break-all;
        color: inherit;
        text-decoration: none;
        cursor: pointer;
    }

    pre {
        overflow-x: auto;
    }
}

@layer components {
    .remark-code-title {
        @apply px-5 py-3 font-mono text-sm font-bold text-gray-200 bg-gray-700 rounded-t;
    }

    .remark-code-title + pre {
        @apply mt-0 rounded-t-none;
    }

    .task-list-item:before {
        @apply hidden;
    }

    .math-display {
        overflow-x: auto;
    }

    h2 > a > span.icon.icon-link {
        width: 18px;
        height: 18px;
    }

    h3 > a > span.icon.icon-link {
        width: 15px;
        height: 15px;
    }

    h4 > a > span.icon.icon-link {
        width: 12px;
        height: 12px;
    }

    .header-1 {
        padding-left: 6px;
    }

    .header-2 {
        padding-left: 12px;
    }

    .header-3 {
        padding-left: 18px;
    }

    .header-4 {
        padding-left: 24px;
    }

    .header-5 {
        padding-left: 30px;
    }

    .header-6 {
        padding-left: 36px;
    }

    #toc {
        max-height: calc(100vh - 174px);
        overflow-y: auto;
    }

    #toc::-webkit-scrollbar {
        width: 10px;
    }

    #toc::-webkit-scrollbar-thumb {
        background-color: rgb(219 234 254);
    }

    .dark #toc::-webkit-scrollbar-thumb {
        background-color: rgb(30 58 138);
    }

    #tags::-webkit-scrollbar {
        display: none;
    }

    .page-title {
        font-style: italic;
        text-align: center;
        font-size: 3.75rem;
        line-height: 1;
        font-weight: 800;
    }

    .page-subtitle {
        font-style: italic;
        font-size: 2.25rem;
        line-height: 2.5rem;
        font-weight: 700;
    }

    .post-title {
        font-style: italic;
        text-align: center;
        font-size: 3rem;
        line-height: 1;
        font-weight: 700;

    }

    .series-subtitle {
        @apply text-3xl font-bold italic text-blue-700 border-b-2 py-2 border-blue-700 mb-4;
    }
}


@layer utilities {
    .paused:hover {
        animation-play-state: paused;
    }
}

