@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: "pretendard", "Pretendard-Regular";
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.header-1 {
  padding-left: 5px;
}
.header-2 {
  padding-left: 10px;
}
.header-3 {
  padding-left: 15px;
}
.header-4 {
  padding-left: 20px;
}
.header-5 {
  padding-left: 25px;
}
.header-6 {
  padding-left: 30px;
}

#toc {
  top: 50%;
  transform: translateY(-50%);
}

#toc > div {
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}
