.markdown {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    /*highlight*/
    .yellow {
        padding: 0 4px;
        border-radius: 3px;
        background-color: #f1c40fbe;
        box-decoration-break: clone;
    }

    .red {
        padding: 0 4px;
        border-radius: 3px;
        background-color: #e74d3cbe;
        box-decoration-break: clone;
    }

    table {
        @apply border-2 border-neutral-200 border-collapse ;
    }

    th, td {
        @apply px-4 py-2 border-2 border-neutral-200 text-left;
    }

    ul {
        @apply pl-3 ml-4 list-disc ;
    }

    ol {
        @apply pl-3 ml-4 list-decimal ;
    }

    li {
        @apply font-normal py-1 leading-6;
    }

    p {
        @apply font-normal text-base;
    }

    blockquote {
        @apply border-l-4 pl-3  border-neutral-600;
    }

    aside { /*callout*/
        @apply bg-neutral-200 dark:bg-neutral-700 p-5 rounded leading-6 flex-col flex gap-2;

        .title {
            font-weight: 500;
            padding: 0 0 5px;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    img + em { /*이미지 캡션*/
    }

    .heading-anchor {
        cursor: pointer;
        position: relative;

        &:hover {
            @apply border-b-blue-700 border-b-2;

            &::after {
                @apply text-blue-700 left-[-1rem] top-0;
                position: absolute;
                display: block;
                content: "#";
            }
        }
    }

    figure[data-rehype-pretty-code-figure] {
        @apply rounded-lg bg-black overflow-hidden relative ;
    }


    pre {
        padding: 1rem;
    }


    figcaption[data-rehype-pretty-code-title] {
        @apply bg-neutral-700/60 pb-2 pt-3 px-4 text-neutral-200 text-sm;
        font-family: "JetBrains Mono";
    }

    code {
        font-family: "JetBrains Mono";

        &:not(:where(pre *)) { /*inline code*/
            @apply rounded px-1.5 bg-neutral-200/80 dark:bg-neutral-600/80 dark:text-neutral-200;
        }

        &:where(pre *) {
            @apply text-sm grid leading-6;
            color: hsl(220, 14%, 71%);
            /*width: 100%;*/
        }
    }

    code[data-line-numbers] {
        counter-reset: line;
    }

    code[data-line-numbers] > span[data-line]::before {
        counter-increment: line;
        content: counter(line);
        display: inline-block;
        width: 0.75rem;
        margin-right: 1.25rem;
        text-align: right;
        color: gray;
    }
}



